{% extends "layout.html" %}
{% block headers %}
<style>
.branded-table {
    width: 100%;
    max-width: 880pt;
    border: solid 2pt #f49120;
    border-radius: .5em;
}
.branded-table thead tr { background: #f49120; border-radius: .5em .5em 0em 0em; }
.branded-table thead tr th {
    color: #000;
    text-align: left;
    padding: .5em;
    z-index: 50;
    border-top: none;
    white-space: nowrap;
}
.branded-table thead tr th:last-child { text-align: right; }
.branded-table tbody tr td { padding: .5em; z-index: 50; white-space: nowrap; }
.branded-table tbody tr:nth-child(even) { background: #fafafa; }
.branded-table tbody tr td:last-child { text-align: right; width: 130pt; }
.branded-table tbody tr td:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 572pt;
}
</style>
{% endblock %}
{% block submenu %}
<ul>
  <li class="active">Dashboard
  <li><a href="/admin/users">Users</a>
</ul>
{% endblock %}
{% block body %}
<h1>Reviewer dashboard</h1>
<h2>Datasets assigned to me</h2>
{%- if assigned_reviews %}
<table id="assigned-table" class="reviewer-table branded-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Submitter</th>
      <th>Affiliation</th>
      <th>Status</th>
      <th>E-mail address</th>
      <th>Date</th>
      <th>Reminder</th>
      <th>Accepted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>{% for review in assigned_reviews: %}
    <tr>
      <td>
        <a href="/review/goto-dataset/{{review.dataset_uuid}}">{{review.dataset_title}}</a>
      </td>
      <td>
        {{review.submitter_first_name | default("", False)}}
        {{review.submitter_last_name | default("", False)}}
      </td>
      <td>{{review.group_name | default("Unknown", False)}}</td>
      <td>{{review.status | default("unassigned", False)}}</td>
      <td>{{review.submitter_email}}</td>
      <td>{{review.request_date}}</td>
      <td></td>
      <td></td>
      <td><a href="/review/unassign/{{review.dataset_uuid}}" class="fas fa-angle-double-down" title="Unassign"></a></td>
    </tr>
  {% endfor %}</tbody>
</table>
{%- else %}
<p>There are no reviews assigned to you.</p>
{%- endif %}
<h2>Unassigned dataset reviews</h2>
{%- if unassigned_reviews %}
<table id="assigned-table" class="reviewer-table branded-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Submitter</th>
      <th>Affiliation</th>
      <th>Status</th>
      <th>E-mail address</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>{% for review in unassigned_reviews: %}
    <tr>
      <td>{{review.dataset_title}}</td>
      <td>
        {{review.submitter_first_name | default("", False)}}
        {{review.submitter_last_name | default("", False)}}
      </td>
      <td>{{review.group_name | default("Unknown", False)}}</td>
      <td>{{review.status | default("unassigned", False)}}</td>
      <td>{{review.submitter_email}}</td>
      <td>{{review.request_date}}</td>
      <td><a href="/review/assign-to-me/{{review.dataset_uuid}}" class="fas fa-angle-double-up" title="Assign to me"></a></td>
    </tr>
  {% endfor %}</tbody>
</table>
{%- else %}
<p>There are no pending review requests.</p>
{%- endif %}
{% endblock %}
