{% extends "layout.html" %}
{% block headers %}
<!-- TODO:
    embargo
    multivalued derived_from
    citation (?)
    versioned and unversioned doi on latest version, explained
-->
<script src="/static/js/jquery-3.6.0.min.js"></script>
<style>
	a             { color: #f49120; text-decoration: none }
	a:hover       { text-decoration: underline }
	#doi          { text-align: right }
	#type         { padding: 2px; width: 80px; text-align: center; border: 1px solid #000 }
	#metadata #versions { margin-top: 0px }
	#description  { margin-top: 10px; padding:10px; border: 1px solid #666 }
	#authors img, #contributors img  { height: 15px }
	.metric       { float: left; margin:5px; text-align: center }
	.metric .number { font-size: 24px; font-weight: bold }
	#categories   { padding-top: 10px; clear: left }
	#tags, #geo, #time_coverage, #dates, #collections, #peer, #references, #publisher, #format, #organizations,
	#contributors, #funding, #usage, #derived_from, #same_as, #language, #licence, #export, #data_link
	              { margin-top: 10px }
	#funding ul   { list-style-type: square; margin-left: 20px }
	#funding .funder_name { display: block; color: #999 }
	#files .size   { display: inline-block; width:120px; font-size:12px; color: #999; text-align:right; margin-right:5px }
	#metadata #left_column  { width: 65%; margin-bottom:10px }
	#metadata #right_column { float: right; width: 33%; margin-bottom:10px }
	.warning      { background-color: #ff0 }
	.label        { text-transform: uppercase }
	ul            { list-style-type: none; padding:0; margin:0 }
	#data         { clear: right; border-top: 1px solid #000; margin-bottom: 10px }
	#data ul      { margin-left: 20px }
	li.zip        { padding: 2px; width: 180px; text-align: center; border: 1px solid #000 } 	
	#debug        { background-color: #eee; color: #666; margin-top: 20px; font-family: monospace; display: none }
  #debug_button { height: 20px; text-align: right; margin-top: -20px }
</style>
{% endblock %}

{% block body %}
{% set doi = article.doi %}
{% set pid = article.article_id %}

<h2>{{article["title"]}}</h2>

<div id="metadata">
    <div id="doi">
  	    persistent link: <a href="https://doi.org/{{doi}}" target="blank" title="opens in new window">doi.org/{{doi}}</a>
    </div>
    <div id="type">
        {{ article.defined_type_name|capitalize }}
    </div>
{% if versions[1:2] %}
<!--12763700-->
    {% set thisversion = article.version %}
    {% set latest = versions[0].version %}
    {% set old = thisversion < latest %}
    <div id ="versions">
    {% if old %}
    	  <span class="warning">version {{thisversion}} (old)</span>
    {% else %}
    	  <span>version {{thisversion}}</span>
    {% endif %}
    	  - other versions:
    {% for ver in versions %}
        {% set v = ver.version %}
        {% if v != thisversion %}
        <a href="/articles/_/{{pid}}/{{v}}">{{v}}
        	  {%- if v==latest %} (latest){% endif %}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

    <div id="right_column">
{% if member != "other" %}
  	  <div id="member">
    	    <a href="/institutions/{{member_url_name}}"><img src="/static/images/logo-{{member}}.png" alt="{{member_url_name.replace('_',' ')}} logo" /></a>
    	</div>
{% endif %}
{% if statistics %}
<!--12763700-->
    {% set usage = statistics[0] %}
    	  <div id="usage">
    	  	  <div class="label">usage stats</div>
    {% for metric in usage %}
            <div class="metric">
            	  <div class="number">{{usage[metric]}}</div>
            	  {{metric}}
            </div>
    {% endfor %}    	  	  	
    	  </div>
{% endif %}
   	  <div id="categories">
    	  	  <div class="label">categories</div>
    	  	  <ul>
{% for cat in categories %}
                <li><a href="/categories/_/{{cat.id}}">{{cat.title}}</a></li>
{% endfor %}
            </ul>
    	  </div>
        <div id="tags">
	          <div class="label">keywords</div>
		            {# The href below will not work. First figure out what to do with search. #}
{% for tag in tags|sort %}
 	          <a href="/keywords/{{tag|urlencode}}">{{tag}}</a>
    {%- if loop.revindex0 %}, {% endif %}
{% endfor %}
        </div>
{% set geo = article.geolocation %}
{% set lat = coordinates.lat %}
{% set lon = coordinates.lon %}
{% if geo or lat or lon %}
<!--12683045-->
    {% set vlat = coordinates.lat_valid %}
    {% set vlon = coordinates.lon_valid %}
        <div id="geo">
        	  <div class="label">geolocation</div>
    {% if geo %}
            <div id = "geo_name">{{geo}}</div>
    {% endif %}
    {% if lat %}
            <div id = "lat">lat (N): {{lat}}</div>
    {% endif %}
    {% if lon %}
            <div id = "lon">lon (E): {{lon}}</div>
    {% endif %}
    {% if vlat and vlon %}
            <a href="https://www.openstreetmap.org/?mlat={{vlat}}&mlon={{vlon}}#map=12/{{vlat}}/{{vlon}}"
            	 target="blank" title="opens in new window">view on openstreetmap</a>
    {% endif %}
        </div>
{% endif %}
{% if article.time_coverage %}
        <div id="time_coverage">
            <div class="label">time coverage</div>
        	  {{article.time_coverage}}
        </div>
{% endif %}
{% set lic_imgs = {'CC0'            : 'cc-0.png',
                   'CC BY 4.0'      : 'cc-by.png',
                   'CC BY-SA 4.0'   : 'cc-by-sa.png',
                   'CC BY-ND 4.0'   : 'cc-by-nd.png',
                   'CC BY-NC 4.0'   : 'cc-by-nc.png',
                   'CC BY-NC-SA 3.0': 'cc-by-nc-sa.png',
                   'CC BY-NC-SA 4.0': 'cc-by-nc-sa.png',
                   'CC BY-NC-ND 4.0': 'cc-by-nc-nd.png',
                   'GPL-3.0'        : 'gnu-gpl-v3.png'  } %}
{% set lic_img = lic_imgs[article.license_name] %}
        <div id="licence">
        	  <div class="label">license</div>
        	  <a href="{{article.license_url}}" target="blank" title="opens in new window">
        	  	{%- if lic_img %}<img src="/static/images/licenses/{{lic_img}}" alt="{{lic_img}} logo"/>{% endif %}
        	  	{{article.license_name}}</a>
        </div>
{% if collections %}
<!--17122553-->
        <div id="collections">
            <div class="label">collection{% if collections[1:] %}s{% endif %}</div>
            <ul>
    {% for c in collections %}
   	            <li><a href="/collections/_/{{c.collection_id}}">{{c.title}}</a></li>
   	{% endfor %}
            </ul>
        </div>
{% endif %}
        <div id="export">
        	  <div class="label">export as...</div>
        	  <a href="{{export_base}}refworks">RefWorks</a>,
        	  <a href="{{export_base}}bibtex">BibTeX</a>,
        	  <a href="{{export_base}}refman">Reference Manager</a>,
        	  <a href="{{export_base}}endnote">Endnote</a>,
        	  <a href="{{export_base}}datacite">DataCite</a>,
        	  <a href="{{export_base}}nlm">NLM</a>,
        	  <a href="{{export_base}}dc">DC</a>
        </div>
    </div>
    
    <div id="left_column">
        <div id="authors">by
{% for a in authors %}
    {%- set name = a.full_name %}
    {%- if a.is_active %}
            <a href="/authors/_/{{a.id}}">{{name}}</a>
    {%- else %}
            {{name}}
    {%- endif %}
    {%- if a.orcid_id %}
            <a href="https://orcid.org/{{a.orcid_id}}" target="blank" title="opens in new window"><img src="/static/images/orcid.svg" alt="orcid logo" title="orcid profile (new window)" /></a>
    {%- endif %}
    {%- if loop.revindex0 %}, {% endif %}
{% endfor %}
        </div>
        <div id="description">
{% autoescape false %}
	          {{ article.description.replace('\\n', '\n') }}
{% endautoescape %}
        </div>
        <div id="dates">
  	        <div class="label">history</div>
{% for (date, dtype) in dates %}
  	        <ul>
	    	        <li>{{date}} {{dtype}}</li>
  	        </ul>
{% endfor %}
        </div>
{% if article.publisher %}
        <div id="publisher">
            <div class="label">publisher</div>
   	        {{article.publisher}}
   	    </div>
{% endif %}
{% if article.format %}
        <div id="format">
            <div class="label">format</div>
   	        {{ article.format.replace('\\n', '\n') }}
   	    </div>
{% endif %}
{% if article.resource_doi %}
<!--16825843-->
        <div id="peer">
            <div class="label">associated peer-reviewed publication</div>
   	        <a href="https://doi.org/{{article.resource_doi}}" target="blank" title="opens in new window">{{article.resource_title}}</a>
   	    </div>
{% endif %}
{% if references %}
        <div id="references">
            <div class="label">references</div>
            <ul>
    {% for r in references %}
   	            <li><a href="{{r.url}}" target="blank" title="opens in new window">{{r.url}}</a></li>
   	{% endfor %}
            </ul>
        </div>
{% endif %}
{% if article.derived_from %}
<!--18865385-->
        <div id="derived_from">
            <div class="label">derived from</div>
            <ul>
    {% for d in derived_from %}
                <li><a href="{{d}}" target="blank" title="opens in new window">{{d}}</a></li>
   	{% endfor %}
   	        </ul>
   	    </div>
{% endif %}
{% if article.same_as %}
<!--18865355-->
        <div id="same_as">
            <div class="label">same as</div>
   	        <a href="{{article.same_as}}" target="blank" title="opens in new window">{{article.same_as}}</a>
   	    </div>
{% endif %}
{% if article.data_link %}
<!--14377295-->
        <div id="data_link">
            <div class="label">data link</div>
   	        <a href="{{article.data_link}}" target="blank" title="opens in new window">{{article.data_link}}</a>
   	    </div>
{% endif %}
{% if article.language %}
<!--17081387-->
    {% if article.language != 'en' %}
        <div id="language">
            <div class="label">language</div>
   	        {{article.language}}
   	    </div>
    {% endif %}
{% endif %}
{% if fundings %}
<!--19114712-->
        <div id="funding">
            <div class="label">funding</div>
            <ul>
   	{% for funding in fundings %}        
   	            <li>
   	    {% if funding.title %}
   	                <span class="funding_title">{{funding.title}}</span>
   	    {% endif %}
   	    {% if funding.grant_code %}
   	                <span class="grant_code">(grant code {{funding.grant_code}})</span>
   	    {% endif %}
   	    {% if funding.url %}
   	                [<a href="{{funding.url}}" target="blank" title="opens in new window">more info...</a>]
   	    {% endif %}
   	    {% if funding.funder_name %}
   	            	  <span class="funder_name">{{funding.funder_name}}</span>
   	    {% endif %}   	
   	            </li>        
   	{% endfor %}
   	      </ul>
   	    </div>
{% endif %}
{% if article.organizations %}
<!--12705164-->
    {% autoescape false %}
        <div id="organizations">
            <div class="label">organizations</div>
   	        {{ article.organizations.replace('\\n', '<br />') }}
   	    </div>
    {% endautoescape %}
{% endif %}
{% if contributors %}
        <div id="contributors">
            <div class="label">contributors</div>
            <ul>
    {% for c in contributors %}
                <li>
                    {{c.name}} 
        {% if c.orcid %}
                    <a href="https://orcid.org/{{c.orcid}}" target="blank" title="opens in new window"><img src="/static/images/orcid.svg" alt="orcid logo" title="orcid profile (new window)" /></a>
        {% endif %}
                </li>
    {% endfor %}
            </ul>
   	    </div>
{% endif %}
    </div>
</div>

<div id="data">
	  <h3>DATA</h3>
{% if article.is_metadata_record %}
<!--12999575-->
        <div id="metadata_only">
    {% if article.confidential_reason %}
            {{article.confidential_reason}}
    {% else %}
            Data is confidential.
    {% endif %}
        </div>
{% endif %}
{% if services %}
<!--12717890-->
	  <div id="services">
	  	  <div class="label">data service</div>
	  	  <ul>
	  {% for url in services %}
	  	      <li><a href="{{url}}" target="blank" title="opens in new window">{{url}}</a></li>
	  {% endfor %}
	  	  </ul>
	  </div>
{% endif%}
{% if opendap %}
<!--17122553-->
	  <div id="opendap">
	  	  <div class="label">OPeNDAP data service</div>
	  	  <ul>
	  {% for url in opendap %}
	  	      <li><a href="{{url}}" target="blank" title="opens in new window">{{url}}</a></li>
	  {% endfor %}
	  	  </ul>
	  </div>
{% endif%}
{% if files %}
<!--16545714-->
	  <div id="files">
	  	  <div class="label">files</div>
	  	  <ul>
	  {% for file in files %}
	  	      <li>
	  	    	    <span class="size">{{'{:,}'.format(file.size)}} bytes</span> 
	  	    	    <a href="{{file.download_url}}" title="md5: {{file.computed_md5}}">{{file.name}}</a>
	  	      </li>
	  {% endfor %}
	  {% if files|length > 1 %}
	    	    <li class="zip"><a href="ndownloader/articles/{{pid}}/versions/{{article.version}}">download all files (zip)</a></li>
	  {% endif %}
	  	  </ul>
	  </div>
{% endif %}
</div>
<div id="debug_button">
    <button onclick="document.getElementById('debug').style.display = 'block'">debug</button>
</div>
<div id="debug">
    <button onclick="document.getElementById('debug').style.display = 'none'">undebug</button>
    COMPARE
    <a href="/v2/articles/{{pid}}{% if version %}/versions/{{version}}{% endif %}" target="blank">json</a>,
    Figshare 
    <a href="https://data.4tu.nl/articles/_/{{pid}}{% if version %}/{{version}}{% endif %}" target="blank">html</a>
    <a href="https://api.figshare.com/v2/articles/{{pid}}{% if version %}/versions/{{version}}{% endif %}" target="blank">json</a>
    <div style="text-align:center">RAW DATA</div>
    <h3>article</h3>{{article}}
    <h3>version</h3>{{version}}
    <h3>versions</h3>{{versions}}
    <h3>authors</h3>{{authors}}
    <h3>contributors</h3>{{contributors}}
    <h3>files</h3>{{files}}
    <h3>services</h3>{{services}}
    <h3>custom_fields</h3>{{custom_fields}}
    <h3>embargo_options</h3>{{embargo_options}}
    <h3>tags</h3>{{tags}}
    <h3>categories</h3>{{categories}}
    <h3>fundings</h3>{{fundings}}
    <h3>references</h3>{{references}}
    <h3>derived_from</h3>{{derived_from}}
    <h3>collections</h3>{{collections}}
    <h3>dates</h3>{{dates}}
    <h3>coordinates</h3>{{coordinates}}
    <h3>export_base</h3>{{export_base}}
    <h3>opendap</h3>{{opendap}}
    <h3>statistics</h3>{{statistics}}
</div>
{% endblock %}
