{% extends "layout.html" %}
{% block headers %}
<script>
var categories = "{% for item in subcategories: %}{{item.id}}{{ ',' if not loop.last else '' }}{% endfor %}";
</script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/ranking.js"></script>
{% endblock %}
{% block body %}
<h1>{{category.title}}</h1>
<noscript>
  <p class="no-script">Sorry, the top datasets and latest datasets require JavaScript.</p>
</noscript>

<h2>Top datasets</h2>
<div id="top-buttons" class="tabs corporate-identity">
  <ul>
    <li class="top-downloads"><a href="#" onclick="top_datasets('downloads'); return false">Downloads</a></li>
    <li class="top-views"><a href="#" onclick="top_datasets('views'); return false">Views</a></li>
    <li class="top-shares"><a href="#" onclick="top_datasets('shares'); return false">Shares</a></li>
    <li class="top-cites"><a href="#" onclick="top_datasets('cites'); return false">Citations</a></li>
  </ul>
</div>
<div id="top-datasets-wrapper" class="corporate-identity-border">
  <table id="top-datasets">
    <thead>
      <tr class="corporate-identity-background"><th>Dataset</th><th></th></tr>
    </thead>
    <tbody>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </tbody>
  </table>
</div>

<h2>Latest datasets</h2>
<div id="latest-datasets-loader" class="loader"></div>
<div id="latest-datasets"></div>

<h2>Collections</h2>
{% for item in collections %}
<div class="tile-item">
  <a href="/collections/{{item.container_uuid}}">{% if item.thumb | length: %}
  <img class="tile-preview" src="{{item.thumb}}" aria-hidden="true" alt="thumbnail for {{item.container_uuid}}" />
  {% else: %}
  <img class="tile-preview" src="/static/images/collection-thumb.svg" aria-hidden="true" alt="thumbnail for {{item.container_uuid}}" />
  {% endif %}</a>
  <div class="tile-title"><a href="/collections/{{item.container_uuid}}">{{item.title}}</a></div>
  <div class="tile-date">Posted on {{item.timeline_posted | truncate(10,False,'')}}</div>
  <div class="tile-authors">
  </div>
</div>
{% endfor %}

<h2>All datasets</h2>
{% for item in articles %}
<div class="tile-item">
  <a href="/datasets/{{item.container_uuid}}">{% if item.thumb | length: %}
  <img class="tile-preview" src="{{item.thumb}}" aria-hidden="true" alt="thumbnail for {{item.container_uuid}}" />
  {% else: %}
  <img class="tile-preview" src="/static/images/dataset-thumb.svg" aria-hidden="true" alt="thumbnail for {{item.container_uuid}}" />
  {% endif %}</a>
  <div class="tile-title"><a href="/datasets/{{item.container_uuid}}">{{item.title}}</a></div>
  <div class="tile-date">Posted on {{item.timeline_posted | truncate(10,False,'')}}</div>
  <div class="tile-authors">
  </div>
</div>
{% endfor %}
{% endblock %}
