{% block public_metadata  %}
<h2>{{item.title}}</h2>

<div id="metadata">
    <div id="doi">persistent link: <a href="https://doi.org/{{doi}}" target="_blank" title="opens in new window">doi.org/{{doi}}</a></div>
{% if item_type == "article" %}
    <div id="type">{{ item.defined_type_name|capitalize }}</div>
{% else %}
    <div id="type">Collection</div>
{% endif %}
{% if versions[1:2] %}
{# test 12763700 #}
    {% set thisversion = item.version %}
    {% set latest = versions[0].version %}
    {% set old = thisversion < latest %}
    <div id ="versions">
    {% if old %}
        <span class="warning">version {{thisversion}} (old)</span>
    {% else %}
        <span>version {{thisversion}}</span>
    {% endif %}
        - other versions:
    {% for ver in versions %}
        {% set v = ver.version %}
        {% if v != thisversion %}
        <a href="/{{item_type}}/{{pid}}/{{v}}">{{v}}{% if v==latest %} (latest){% endif %}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

    <div id="right_column">
{% if member != "other" %}
        <div id="member">
            <a href="/institutions/{{member_url_name}}"><img src="/static/images/logo-{{member}}.png" alt="{{member_url_name.replace('_',' ')}} logo" /></a>
        </div>
{% endif %}
{% if statistics %}
{# test 12763700 #}
        <div id="usage">
            <div class="label">usage stats</div>
    {% for metric in statistics %}
            <div class="metric">
                <div class="number">{{statistics[metric]}}</div>
                {{metric}}
            </div>
    {% endfor %}
        </div>
{% endif %}
        <div id="categories">
            <div class="label">categories</div>
            <ul>
{% for cat in categories %}
                <li><a href="/categories/{{cat.id}}">{{cat.title}}</a></li>
{% endfor %}
            </ul>
        </div>
        <div id="tags">
            <div class="label">keywords</div>
                {# The href below will not work. First figure out what to do with search. #}
{% for tag in tags|sort %}
            <a href="/keywords/{{tag|urlencode}}">{{tag}}</a>
    {%- if loop.revindex0 %}, {% endif %}
{% endfor %}
        </div>
{% set geo = item.geolocation %}
{% set lat = coordinates.lat %}
{% set lon = coordinates.lon %}
{% if geo or lat or lon %}
{# test 12683045 #}
    {% set vlat = coordinates.lat_valid %}
    {% set vlon = coordinates.lon_valid %}
        <div id="geo">
            <div class="label">geolocation</div>
    {% if geo %}
            <div id = "geo_name">{{geo}}</div>
    {% endif %}
    {% if lat %}
            <div id = "lat">lat (N): {{lat}}</div>
    {% endif %}
    {% if lon %}
            <div id = "lon">lon (E): {{lon}}</div>
    {% endif %}
    {% if vlat and vlon %}
            <a href="https://www.openstreetmap.org/?mlat={{vlat}}&mlon={{vlon}}#map=12/{{vlat}}/{{vlon}}"
               target="_blank" title="opens in new window">view on openstreetmap</a>
    {% endif %}
        </div>
{% endif %}
{% if item.time_coverage %}
        <div id="time_coverage">
            <div class="label">time coverage</div>
            {{item.time_coverage}}
        </div>
{% endif %}
{% if item_type == "article" %}
    {% set lic_imgs = {'CC0'            : 'cc-0.png',
                       'CC BY 4.0'      : 'cc-by.png',
                       'CC BY-SA 4.0'   : 'cc-by-sa.png',
                       'CC BY-ND 4.0'   : 'cc-by-nd.png',
                       'CC BY-NC 4.0'   : 'cc-by-nc.png',
                       'CC BY-NC-SA 3.0': 'cc-by-nc-sa.png',
                       'CC BY-NC-SA 4.0': 'cc-by-nc-sa.png',
                       'CC BY-NC-ND 4.0': 'cc-by-nc-nd.png',
                       'GPL-3.0'        : 'gnu-gpl-v3.png'  } %}
    {% set lic_img = lic_imgs[item.license_name] %}
        <div id="licence">
            <div class="label">licence</div>
            <a href="{{item.license_url}}" target="_blank" title="opens in new window">
                {%- if lic_img %}<img src="/static/images/licenses/{{lic_img}}" alt="{{lic_img}} logo"/>{% endif %}
                {{item.license_name}}</a>
    {% if item.license_remarks %}
    {# test 12776162 #}
            <div>{{item.license_remarks}}</div>
    {% endif %}
        </div>
    {% if collections %}
        <div id="collections">
            <div class="label">collection{% if collections[1:] %}s{% endif %}</div>
            <ul>
        {% for c in collections %}
                <li><a href="/collections/{{c.collection_id}}">{{c.title}}</a></li>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
        <div id="export">
            <div class="label">export as...</div>
            <a href="{{export_base}}refworks">RefWorks</a>,
            <a href="{{export_base}}bibtex">BibTeX</a>,
            <a href="{{export_base}}refman">Reference Manager</a>,
            <a href="{{export_base}}endnote">Endnote</a>,
            <a href="{{export_base}}datacite">DataCite</a>,
            <a href="{{export_base}}nlm">NLM</a>,
            <a href="{{export_base}}dc">DC</a>
        </div>
{% endif %}
    </div>
    
    <div id="left_column">
        <div id="authors">by
{% for a in authors %}
    {%- set name = a.full_name %}
    {%- if a.is_active %}
            <a href="/authors/{{a.id}}">{{name}}</a>
    {%- else %}
            {{name}}
    {%- endif %}
    {%- if a.orcid_id %}
            <a href="https://orcid.org/{{a.orcid_id}}" target="_blank" title="opens in new window"><img src="/static/images/orcid.svg" alt="orcid logo" title="orcid profile (new window)" /></a>
    {%- endif %}
    {%- if loop.revindex0 %}, {% endif %}
{% endfor %}
        </div>
        <div id="description">
{% autoescape false %}
            {{ item.description.replace('\\n', '\n') }}
{% endautoescape %}
        </div>
        <div id="dates">
            <div class="label">history</div>
{% for (date, dtype) in dates %}
            <ul>
                  <li>{{date}} {{dtype}}</li>
            </ul>
{% endfor %}
        </div>
{% if item.publisher %}
        <div id="publisher">
            <div class="label">publisher</div>
            {{item.publisher}}
        </div>
{% endif %}
{% if item.format %}
        <div id="format">
            <div class="label">format</div>
            {{ item.format.replace('\\n', '\n') }}
        </div>
{% endif %}
{% if item.resource_doi %}
{# test 16825843 #}
        <div id="peer">
            <div class="label">associated peer-reviewed publication</div>
            <a href="https://doi.org/{{item.resource_doi}}" target="_blank" title="opens in new window">{{item.resource_title}}</a>
        </div>
{% endif %}
{% if references %}
        <div id="references">
            <div class="label">references</div>
            <ul>
    {% for r in references %}
                <li><a href="{{r.url}}" target="_blank" title="opens in new window">{{r.url}}</a></li>
    {% endfor %}
            </ul>
        </div>
{% endif %}
{% if item.derived_from %}
{# test 12716117 #}
        <div id="derived_from">
            <div class="label">derived from</div>
            <ul>
    {% for d in derived_from %}
                <li><a href="{{d}}" target="_blank" title="opens in new window">{{d}}</a></li>
    {% endfor %}
            </ul>
        </div>
{% endif %}
{% if item.same_as %}
{# test 18865355 #}
        <div id="same_as">
            <div class="label">same as</div>
            <a href="{{item.same_as}}" target="_blank" title="opens in new window">{{item.same_as}}</a>
        </div>
{% endif %}
{% if item.data_link %}
{# test 14377295 #}
        <div id="data_link">
            <div class="label">data link</div>
            <a href="{{item.data_link}}" target="_blank" title="opens in new window">{{item.data_link}}</a>
        </div>
{% endif %}
{% if item.language %}
{# test 17081387 #}
    {% if item.language != 'en' %}
        <div id="language">
            <div class="label">language</div>
            {{item.language}}
        </div>
    {% endif %}
{% endif %}
{% if fundings %}
{# test 19114712 #}
        <div id="funding">
            <div class="label">funding</div>
            <ul>
    {% for funding in fundings %}
                <li>
        {% if funding.title %}
                    <span class="funding_title">{{funding.title}}</span>
        {% endif %}
        {% if funding.grant_code %}
                    <span class="grant_code">(grant code {{funding.grant_code}})</span>
        {% endif %}
        {% if funding.url %}
                    [<a href="{{funding.url}}" target="_blank" title="opens in new window">more info...</a>]
        {% endif %}
        {% if funding.funder_name %}
                    <span class="funder_name">{{funding.funder_name}}</span>
        {% endif %}
                </li>
    {% endfor %}
          </ul>
        </div>
{% endif %}
{% if item.organizations %}
{# test 12705164 #}
    {% autoescape false %}
        <div id="organizations">
            <div class="label">organizations</div>
            {{ item.organizations.replace('\\n', '<br />') }}
        </div>
    {% endautoescape %}
{% endif %}
{% if contributors %}
{# test 12721421 v1 #}
        <div id="contributors">
            <div class="label">contributors</div>
            <ul>
    {% for c in contributors %}
                <li>
                    {{c.name}} 
        {% if c.orcid %}
                    <a href="https://orcid.org/{{c.orcid}}" target="_blank" title="opens in new window"><img src="/static/images/orcid.svg" alt="orcid logo" title="orcid profile (new window)" /></a>
        {% endif %}
                </li>
    {% endfor %}
            </ul>
        </div>
{% endif %}
    </div>
</div>
{% endblock %}

