{% extends "layout.html" %}
{% block headers %}
<script src="/static/js/search.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
.tile-item {
    display: inline-block;
    margin: 0pt 10pt 10pt 0pt;
    padding: 10pt;
    width: 135pt;
    border-radius: 10pt;
    cursor: pointer;
    background: #f9f9f9;
}
.tile-item:hover { background: #eeeeee; }
.tile-item:active { background: #e9e9e9; }
.match-badge {
  background-color: #f49120;
  color: white;
  font-size: 0.8em;
  padding: 2px;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
  display:inline-block;
}
.tile-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150pt;
    height: 4em;
    font-size: 1.3em;
    font-weight: bold;
}
.tile-preview {
    overflow: hidden;
    width: 100%;
    height: 130pt;
    margin: 0 auto;
    user-select: none;
}
.search-terms { text-align: center; }
.search-terms li { display: inline-block; list-style: none; }
.search-terms li button {
    margin: 5pt;
    padding: 10pt;
    border-radius: 5pt;
    background: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.search-terms li button:hover { background: #eeeeee; }
.search-terms li button:active { background: #e9e9e9; }
.tabs ul { margin: 0em; padding: 0em; }
.tabs li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
    font-size: 12pt;
    padding: .5em .75em .5em .75em;
    margin: 0pt 5pt 0pt 0pt;
    user-select: none;
    border-radius: .5em .5em 0em 0em;
}
.loader {
    display: block;
    width: 100%;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('/static/images/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}
</style>
{% endblock %}
{% block body %}

<ul class="search-terms">{% for item in display_terms %}
  {% if item is mapping %}
  <li><button>{{ item.operator | replace("||", "OR") | replace("&&", "AND") }}</button></li>
  {% elif " " in item and not item.startswith(":") and not item.startswith("\"") %}
  <li><a href='/search?search="{{item}}"'><button id="login-button">{{item}}</button></a></li>
  {% else %}
  <li><a href='/search?search={{item}}'><button id="login-button">{{item}}</button></a></li>
  {% endif %}
{% endfor %}</ul>

<script>
  jQuery(document).ready(function() {
    let articles = {{ articles | tojson }};
    let display_terms = {{ display_terms | tojson }};
    extra_render_search_page(articles, display_terms);
  });
</script>

{% if message is none %}
<h2>Found results ({{ dataset_count}}):</h2>
{% if dataset_count > 100 %}
<p><i>Please note that only the first 100 records are displayed.</i></p>
{% endif %}
{% else: %}
<h2>No results found ({{ message }})</h2>
{% endif %}
<div style="text-align: left;">
  <a href="#"><span class="fas fa-tile fa-lg" id="tile_view_mode" style="color: #f49120"><span class="hidden">Tile View</span></span></a>
  <a href="#"><span class="fas fa-list fa-lg" id="list_view_mode" style="color: darkgray"><span class="hidden">List View</span></span></a>
</div>
<div>&nbsp;</div>
{% for item in articles %}
<div class="tile-item">
  <a href="{{item.url_public_html}}">{% if item.thumb | length and not item.thumb.startswith("https://ndownloader") %}
  <img class="tile-preview" src="{{item.thumb}}" aria-hidden="true" alt="thumbnail for {{item.id}}" />
  {% else: %}
  <img class="tile-preview" src="/static/images/dataset-thumb.svg" aria-hidden="true" alt="thumbnail for {{item.id}}" />
  {% endif %}</a>
  <div class="tile-matches" id="article_{{loop.index}}"></div>
  <div class="tile-title"><a href="/datasets/{{item.container_uuid}}">{{item.title}}</a></div>
  <div class="tile-date">Posted on {{item.timeline_posted}}</div>
  <div class="tile-authors"> </div>
</div>
{% endfor %}
<div class="list-item"></div>
{% endblock %}
