.venv/
src/djehuty.egg-info/

# Autotools (deprecated — will be removed on October 31, 2026)
autom4te.cache/
aclocal.m4
configure
configure~
config.log
config.status
Makefile
Makefile.in
src/Makefile
src/Makefile.in
doc/Makefile
doc/Makefile.in
missing
install-sh
install-sh~
docker/requirements.lock
pylint.log
*__pycache__*
dist/
build/
dump/
rpmbuild/BUILD/
rpmbuild/RPMS/
rpmbuild/SOURCES/
rpmbuild/SPECS/djehuty.spec
rpmbuild/SRPMS/
.DS_Store
.idea/
djehuty.xml
guix.scm
doc/djehuty.sty
doc/figures/*.svg
doc/fonts
*.bak
*.BAK
doc/djehuty*.html
doc/djehuty.4ct
doc/djehuty.4tc
doc/djehuty.aux
doc/djehuty.bbl
doc/djehuty.blg
doc/djehuty.css
doc/djehuty.dvi
doc/djehuty.idv
doc/djehuty.lg
doc/djehuty.lof
doc/djehuty.log
doc/djehuty.out
doc/djehuty.pdf
doc/djehuty.tmp
doc/djehuty.toc
doc/djehuty.xref
doc/figures/*-.png
doc/index.html
djehuty.code-workspace
query.sparqlbook
.vscode/launch.json
e2e/test-results/
e2e/playwright-report/
e2e/trace.zip
