src/djehuty.egg-info/
*__pycache__*
dist/
build/
dump/
rpmbuild/BUILD/
rpmbuild/RPMS/
rpmbuild/SOURCES/
rpmbuild/SPECS/djehuty.spec
rpmbuild/SRPMS/
autom4te.cache/
aclocal.m4
configure
configure~
config.log
config.status
Makefile
Makefile.in
setup.cfg
missing
install-sh
.DS_Store
.idea/
djehuty.spec
djehuty.xml
doc/djehuty.sty
doc/figures/*.svg
doc/fonts
*.bak
*.BAK