{% extends "layout.html" %}
{% block headers %}
<style>
#session-table tbody tr td:nth-child(2) { white-space: nowrap; }
</style>
{% endblock %}
{% block submenu %}
<ul>
  <li class="active corporate-identity-submenu-active">Dashboard
  <li><a href="/admin/users">Users</a>
  <li><a href="/admin/maintenance">Maintenance</a>
  <li><a href="/admin/exploratory">Exploratory</a>
  <li><a href="/admin/reports">Reports</a>
  {% if may_query %}<li><a href="/admin/sparql">Query</a>{% endif %}
</ul>
{% endblock %}
{% block body %}
<h1>Administration dashboard</h1>
<p>Welcome, privileged user.</p>
{% endblock %}
