{% extends "layout.html" %}
{% block headers %}
<style>
.branded-table {
    width: 100%;
    max-width: 880pt;
    border: solid 2pt #f49120;
    border-radius: .5em;
}
.branded-table thead tr { background: #f49120; border-radius: .5em .5em 0em 0em; }
.branded-table thead tr th {
    color: #000;
    text-align: left;
    padding: .5em;
    z-index: 50;
    border-top: none;
    white-space: nowrap;
}
.branded-table thead tr th:last-child { text-align: right; }
.branded-table tbody tr td { padding: .5em; z-index: 50; }
.branded-table tbody tr:nth-child(even) { background: #fafafa; }
.branded-table tbody tr td:last-child { text-align: right; width: 130pt; }
.branded-table tbody tr td:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 572pt;
}
#session-table tbody tr td:nth-child(2) { white-space: nowrap; }
#create-new-dataset { margin: auto; }
#create-new-collection { margin: auto; }
</style>
{% endblock %}
{% block submenu %}
<ul>
  <li class="active">Dashboard
  <li class="create-button"><a href="/my/sessions/new">Create API token</a>
  <li><a href="/my/datasets">My Datasets</a>
  <li><a href="/my/collections">My Collections</a>
  <li><a href="/my/profile">Profile</a>
</ul>
{% endblock %}
{% block body %}
<h1>Dashboard</h1>
<h2>Quick actions</h2>
<div class="center">
  <a id="create-new-dataset" href="/my/datasets/new" class="button neutral-button">Create new dataset</a>
  <a id="create-new-collection" href="/my/collections/new" class="button neutral-button">Create new collection</a>
</div>
<h2>Account statistics</h2>
<p>Using {{storage_used}}.</p>

<h2>Sessions and API tokens</h2>

<table id="session-table" class="branded-table">
  <thead><tr><th>Name</th><th>Created at</th><th>Actions</th></tr></thead>
  <tbody>
    {%- for session in sessions: %}
    <tr>
      <td>{% if session.editable %}
        <a href="/my/sessions/{{session.uuid}}/edit">{{session.name | default("Unnamed", False)}}</a>
        {% else %}
        {{session.name | default("Unnamed", False)}}
        {% endif %}
      </td>
      <td>{{session.created_date | default("Unknown", False)}}</td>
      <td><a href="/my/sessions/{{session.uuid}}/delete" class="fas fa-trash-can" title="Remove"></a></td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endblock %}
