{% extends "layout.html" %}
{% block headers %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/quill.min.js"></script>
<script src="/static/js/edit-collection.js"></script>
<script>
jQuery(document).ready(function () {
    root_categories = []
    jQuery(".subcategory-wrapper").hide();
{%- for category in categories: %}
    root_categories.push({{category.id}});
    jQuery("#category_{{category.id}}").change(function () {
        if (this.checked) {
            jQuery("#category_{{category.id}}").prop("checked", true);
            jQuery("#subcategories_{{category.id}}").slideDown(200);
        } else {
            jQuery("#subcategories_{{category.id}} input[name='categories']").prop("checked", false);
            jQuery("#subcategories_{{category.id}}").slideUp(200);
        }
    });
{%- endfor %}
    activate ({{collection["collection_id"]}});
});
</script>
<link href="/static/css/quill.4tu.css" rel="stylesheet">
<style>
.branded-table {
    width: 100%;
    max-width: 880pt;
    border: solid 2pt #ccc;
    border-radius: .5em;
    margin-bottom: 1em;
}
.branded-table thead tr { background: #ccc; border-radius: .5em .5em 0em 0em; }
.branded-table thead tr th { color: #000; text-align: left; padding: .5em; z-index: 50; border-top: none; }
.branded-table thead tr th:last-child { text-align: right; }
.branded-table tbody tr td { padding: .5em; z-index: 50; }
.branded-table tbody tr:nth-child(even) { background: #fafafa; }
.branded-table tbody tr td:last-child { text-align: right; width: 130pt; }
.branded-table tbody tr td:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 572pt;
}
.files td { text-align: left; }
#content-wrapper h3:first-child { margin-top: 0em; }
#content-wrapper h3 {
    font-size: 1.75em;
    padding: 0em;
    margin: .75em 0em .75em 0em;
    border-bottom: 4px dotted #f49120;
}
#content-wrapper input[type="text"],
#content-wrapper textarea,
.texteditor,
.options-wrapper {
    display: block;
    padding: .7em;
    border: solid 1pt #aaa;
    border-radius: 0em .5em .5em .5em;
    width: 832pt;
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 13pt;
}
#content-wrapper select {
    display: block;
    padding: .7em;
    border: solid 1pt #aaa;
    background: #fff;
    border-radius: 0em .5em .5em .5em;
    width: 852pt;
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 13pt;
}
.texteditor {
    padding: 0em !important;
    border-radius: 0em 0em .5em .5em !important;
    resize: vertical;
    font-size: 1.0em;
    width: 852pt;
}
#content-wrapper label {
    display: inline-block;
    background: #ffeecc;
    color: #000;
    padding: .5em .5em .25em .5em;
    border-radius: .5em .5em 0em 0em;
    font-weight: bold;
}
#content-wrapper label.no-head {
    display: inline-block;
    background: none;
    font-weight: normal;
}
#content-wrapper textarea:focus,
#content-wrapper input:focus,
#content-wrapper .texteditor:focus {
    outline: none;
    border: solid 1pt #111;
    background: #fffaea;
}
#content-wrapper select:focus {
    outline: none;
    border: solid 1pt #111;
    background: #fffaea;
}
#file-upload h4 { font-size: 1.5em; padding: 0em; margin: .75em 0em .75em 0em; }
.autocomplete {
    border-radius: 0em 0em .5em .5em;
    border: solid 1pt #111;
    width: 850pt;
    margin: 0em 0em 1em 0em;
    padding: 0em;
}
.autocomplete ul { margin: 0em; padding: 0em; }
.autocomplete li { list-style-type: none; margin: 0em; padding: .5em; }
.autocomplete li:nth-child(even) { background: #fafafa; }
.autocomplete li:last-child { border-radius: 0em 0em .5em .5em; }
.input-for-ac {
    border-radius: 0em .5em 0em 0em !important;
    margin-bottom: 0em !important;
    border-bottom: #ddd !important;
    width: 832pt;
}
.list-resource ul { margin: 0em; padding: 0em; }
.list-resource li { list-style-type: none; margin: 0em; padding: .5em; }
#categories-wrapper .subitem-checkbox { margin-left: 3em; }
.subitem-label { cursor: pointer; user-select: none; }
.subitem-label:hover { cursor: pointer; user-select: none; }
.item-label {
    background: none !important;
    border-radius: .5em !important;
    cursor: pointer;
    user-select: none;
}
#authors-list { display: none; border: none; }
#authors-list thead { display: none; }
#articles-list { display: none; border: none; }
#articles-list thead { display: none; }
#new-author { text-align: center; line-height: 3.5em; height: 3.5em; }
.a-button a {
    text-decoration: none;
    color: #fff;
    background: #139257;
    border-radius: .5em;
    padding: .5em;
    margin: 1em 0em 1em 0em;
}
.a-button a:hover { background: #18b76d; }
.a-button a:active { background: #107a48; }
#new-author-form { padding: 1em; }
#new-author-form label { background: #eee; }
#new-author-form input[type="text"] { width: 800pt; }
#references-list { display: none; border: none; }
#references-list thead { display: none; }
#record-type-wrapper input[type="radio"],
#type-wrapper input[type="radio"]{ display: none; }
#record-type-wrapper label,
#type-wrapper label{ padding: .5em; border-radius: .5em; user-select: none; }
#record-type-wrapper label:hover,
#type-wrapper label:hover{ cursor: pointer; background: #eee; }
#record-type-wrapper input[type="radio"]:checked+label,
#type-wrapper input[type="radio"]:checked+label {
    background: #505050;
    color: #fff;
    border-radius: .5em;
    opacity: 1.0 !important;
}
#record-type-wrapper input[type="radio"]:disabled+label {
    opacity: 0.5;
    cursor: auto;
}
#groups-wrapper h4 {
    padding: .5em;
    margin: .5em 0em 0em 0em;
    font-weight: bold;
    font-size: 1em;
    background: #eee;
    border-radius: .5em;
    user-select: none;
}
#groups-wrapper h4:nth-child(1) { margin: 0em; }
#metadata_reason_field, #external_link_field, #file_upload_field { display: none; }
</style>
{% endblock %}
{% block submenu %}
<ul>
  <li><a href="/my/collections">&#8592; Go back</a>
  <li class="active">Edit collection
  <li class="hide-for-javascript save-button"><a id="save" href="#">Save</a>
  <li class="hide-for-javascript delete-button"><a id="delete" href="#">Delete</a>
</ul>
{% endblock %}
{% block body %}
<div class="collection-content">
<h1>Edit collection</h1>
<noscript>
  <p class="no-script">Sorry, this page requires JavaScript to work correctly.</p>
</noscript>
<div class="hide-for-javascript">
<h2>Collection details</h2>
<label for="title">Title</label>
<input type="text" id="title" name="title" value="{{collection["title"]}}" />
<label>Description</label>
<div id="description" class="texteditor">
  {{collection["description"] | default("", True) | replace("\\n", "<br>") | safe }}
</div>
<label>Categories</label>
<div id="categories-wrapper" class="options-wrapper">
{%- for root in categories: %}
<input type="checkbox" name="categories" value="{{root.id}}" id="category_{{root.id}}"><!--
--><label class="item-label" for="category_{{root.id}}">{{root.title}}</label><br>
<div id="subcategories_{{root.id}}" class="subcategory-wrapper">
{%- for sub in root.subcategories: %}
<input class="subitem-checkbox" type="checkbox" name="categories" value="{{sub.id}}" id="category_{{sub.id}}"><!--
--><label class="subitem-label no-head" for="category_{{sub.id}}">{{sub.title}}</label><br>
{%- endfor %}
</div>
{%- endfor %}
</div>
<h3>Authors</h3>
<label for="authors">Authors</label><input type="text" id="authors" name="authors" />
<table class="branded-table" id="authors-list">
  <thead>
    <tr><th>Author</th><th>Actions</th></tr>
  </thead>
  <tbody></tbody>
</table>
<label>Group</label>
<div id="groups-wrapper" class="options-wrapper">
{%- for group in groups: %}
<h4>{{group.name}}</h4>
<div id="subgroups_{{group.id}}" class="subgroup-wrapper">
<input class="subitem-checkbox" type="radio" name="groups" value="{{group.id}}" id="group_{{group.id}}"><!--
--><label class="subitem-label no-head" for="group_{{group.id}}">{{group.name}}</label><br>
{%- for sub in group.subgroups: %}
<input class="subitem-checkbox" type="radio" name="groups" value="{{sub.id}}" id="group_{{sub.id}}"><!--
--><label class="subitem-label no-head" for="group_{{sub.id}}">{{sub.name}}</label><br>
{%- endfor %}
</div>
{%- endfor %}
</div>
<label for="publisher">Publisher</label>
<input type="text" id="publisher" name="publisher" value="{{collection["publisher"] | default("4TU.ResearchData", True)}}">
<h3>Linked resource &amp; references</h3>
<p>If the dataset is published as part of a scientific paper, add its title and DOI here.</p>
<label for="resource_title">Resource title</label>
<input type="text" id="resource_title" name="resource_title" value="{{collection["resource_title"] | default("", True)}}" />
<label for="resource_doi">Resource DOI</label>
<input type="text" id="resource_doi" name="resource_doi" value="{{collection["resource_doi"] | default("", True)}}" />
<p>Add any other relevant URLs or DOIs below.</p>
<label for="references">References</label>
<input type="text" id="references" name="references" value="" />
<table class="branded-table" id="references-list">
  <thead>
    <tr><th>Reference</th><th>Actions</th></tr>
  </thead>
  <tbody></tbody>
</table>
<h3>Findability</h3>
<label for="geolocation">Geolocation</label>
<input type="text" id="geolocation" name="geolocation" placeholder="Example: Dam Square, Amsterdam" value="{{collection["geolocation"] | default("", True)}}" />
<label for="longitude">Longitude</label>
<input type="text" id="longitude" name="longitude" placeholder="Example: 4.893" value="{{collection["longitude"] | default("", True)}}" />
<label for="latitude">Latitude</label>
<input type="text" id="latitude" name="latitude" placeholder="Example: 52.893" value="{{collection["latitude"] | default("", True)}}" />
<label for="organizations">Organizations</label>
<textarea id="organizations" name="organizations" placeholder="Example: Delft University of Technology">{{collection["organizations"] | default("", True) }}</textarea>
<h3>Articles</h3>
<div id="articles-selection">
  <label for="article-search">Article search</label>
  <input type="text" id="article-search" name="article-search" />
  <table id="articles-list" class="branded-table">
    <tbody>
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}
