{% extends "layout.html" %}
{% block headers %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
.branded-table {
    width: 100%;
    max-width: 880pt;
    border: solid 2pt #f49120;
    border-radius: .5em;
}
.branded-table thead tr { background: #f49120; border-radius: .5em .5em 0em 0em; }
.branded-table thead tr th {
    color: #000;
    text-align: left;
    padding: .5em;
    z-index: 50;
    border-top: none;
}
.branded-table thead tr th:last-child { text-align: right; }
.branded-table tbody tr td { padding: .5em; z-index: 50; }
.branded-table tbody tr:nth-child(even) { background: #fafafa; }
.branded-table tbody tr td:last-child { text-align: right; width: 130pt; }
.branded-table tbody tr td:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 572pt;
}
#table-collections { display: none; }
#table-collections_wrapper { margin-top: 1em; }
.number-of-articles { color: #707070; }
.fa-lock { color: #921357; }
.fa-users { color: #139257; }
</style>
<script>
jQuery(document).ready(function () {
    jQuery(".hide-for-javascript").removeClass("hide-for-javascript");
    jQuery("#table-collections").DataTable({
        columnDefs: [{ orderable: false,  targets: 3 }]
    });
    jQuery("#table-collections").show();
    jQuery("#table-collections-loader").remove();
});
</script>
{% endblock %}
{% block submenu %}
<ul>
  <li><a href="/my/dashboard">Dashboard</a>
  <li><a href="/my/datasets">My Datasets</a>
  <li class="active">My Collections
  <li class="create-button"><a href="/my/collections/new">New collection</a>
  <li><a href="/my/profile">Profile</a>
</ul>
{% endblock %}
{% block body %}
<noscript>
  <p class="no-script">Sorry, this page requires JavaScript to function properly.</p>
</noscript>
<div class="hide-for-javascript">
<h1>Collections</h1>
<div id="table-collections-loader" class="loader"></div>
<table id="table-collections" class="branded-table ">
  <thead>
    <tr>
      <th>Collection</th>
      <th>Status</th>
      <th>Created&nbsp;at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>{% for collection in collections: %}
    <tr>
      <td>
        <a href="/my/collections/{{collection.container_uuid}}/edit">{{collection.title}}</a>
        <span class="number-of-articles">({{collection.number_of_articles}})</span></td>
      <td class="center">
        <span class="fas {% if collection.is_public == 1: %}fa-users{% else: %}fa-lock{% endif %}">
          <span class="hidden">{{collection.is_public}}</span>
        </span>
      </td>
      <td>{{collection.created_date | truncate(10,False,'')}}</td>
      <td>{% if not collection.is_public %}<a href="/my/collections/{{collection.container_uuid}}/delete" class="fas fa-trash-can" title="Remove"></a>{% endif %}</td>
    </tr>
  {% endfor %}</tbody>
</table>
</div>
{% endblock %}
