{% extends "layout.html" %}
{% block headers %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/edit-profile.js"></script>
<script>
jQuery(document).ready(function (){
    root_categories = []
    jQuery(".hide-for-javascript").removeClass("hide-for-javascript");
    jQuery(".subcategory-wrapper").hide();
{%- for category in categories: %}
    root_categories.push("{{category.uuid}}");
    jQuery("#category_{{category.uuid}}").change(function () {
        if (this.checked) {
            jQuery("#category_{{category.uuid}}").prop("checked", true);
            jQuery("#subcategories_{{category.uuid}}").slideDown(200);
        } else {
            jQuery("#subcategories_{{category.uuid}} input[name='categories']").prop("checked", false);
            jQuery("#subcategories_{{category.uuid}}").slideUp(200);
        }
    });
{%- endfor %}
    activate ('{{account.account_uuid}}');
});
</script>
<style>
#content-wrapper h3:first-child { margin-top: 0em; }
#content-wrapper h3 {
    font-size: 1.75em;
    padding: 0em;
    margin: .75em 0em .75em 0em;
    border-bottom: 4px dotted #f49120;
}
#content-wrapper input[type="text"],
#content-wrapper textarea,
.texteditor,
.options-wrapper {
    display: block;
    padding: .7em;
    border: solid 1pt #aaa;
    border-radius: 0em .5em .5em .5em;
    width: 832pt;
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 13pt;
}
#content-wrapper select {
    display: block;
    padding: .7em;
    border: solid 1pt #aaa;
    background: #fff;
    border-radius: 0em .5em .5em .5em;
    width: 852pt;
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 13pt;
}
.texteditor {
    padding: 0em !important;
    border-radius: 0em 0em .5em .5em !important;
    resize: vertical;
    font-size: 1.0em;
    width: 852pt;
}
#content-wrapper label {
    display: inline-block;
    background: #ffeecc;
    color: #000;
    padding: .5em .5em .25em .5em;
    border-radius: .5em .5em 0em 0em;
    font-weight: bold;
}
#content-wrapper label.no-head {
    display: inline-block;
    background: none;
    font-weight: normal;
}
#content-wrapper textarea:focus,
#content-wrapper input:focus,
#content-wrapper .texteditor:focus {
    outline: none;
    border: solid 1pt #111;
    background: #fffaea;
}
#content-wrapper select:focus {
    outline: none;
    border: solid 1pt #111;
    background: #fffaea;
}
#expanded-categories { display: none; }
#categories-wrapper .subitem-checkbox { margin-left: 3em; }
.subitem-label { cursor: pointer; user-select: none; }
.subitem-label:hover { cursor: pointer; user-select: none; }
.item-label {
    background: none !important;
    border-radius: .5em !important;
    cursor: pointer;
    user-select: none;
}
</style>
{% endblock %}
{% block submenu %}
<ul>
  <li class="active">Profile
  <li class="hide-for-javascript save-button"><a id="save" href="#">Save</a>
</ul>
{% endblock %}
{% block body %}
<h1>Profile</h1>

<h2>Professional details</h2>

<label for="first_name">First name</label>
<input type="text" id="first_name" name="first_name" value="{{account.first_name}}" />

<label for="last_name">Last name</label>
<input type="text" id="last_name" name="last_name" value="{{account.last_name}}" />

<label for="last_name">Job title</label>
<input type="text" id="job_title" name="job_title" value="{{account.job_title}}" />

<label for="location">Location</label>
<input type="text" id="location" name="location" value="{{account.location}}" />

<label for="twitter">Twitter</label>
<input type="text" id="twitter" name="twitter" value="{{account.twitter}}" />

<label for="linkedin">LinkedIn</label>
<input type="text" id="linkedin" name="linkedin" value="{{account.linkedin}}" />

<label for="website">Website</label>
<input type="text" id="website" name="website" value="{{account.website}}" />

<label for="biography">Biography</label>
<textarea id="biography" name="biography">{{account.biography | default("", True) }}</textarea>

<label>Fields of interest</label>
<div id="categories-wrapper" class="options-wrapper">
  <a id="expand-categories-button" href="#" onclick="javascript:toggle_categories(); return false;">Select categories</a>
  <div class="expand-categories"></div>
  <div id="expanded-categories">
{%- for root in categories: %}
<input type="checkbox" name="categories" value="{{root.uuid}}" id="category_{{root.uuid}}"><!--
--><label class="item-label" for="category_{{root.uuid}}">{{root.title}}</label><br>
<div id="subcategories_{{root.uuid}}" class="subcategory-wrapper">
{%- for sub in root.subcategories: %}
<input class="subitem-checkbox" type="checkbox" name="categories" value="{{sub.uuid}}" id="category_{{sub.uuid}}"><!--
--><label class="subitem-label no-head" for="category_{{sub.uuid}}">{{sub.title}}</label><br>
{%- endfor %}
</div>
{%- endfor %}
</div>

{% endblock %}
